<%= javascript_include_tag "adminful_home" %>
<%= stylesheet_link_tag "adminful" %>

<div class="adminful-home">
  <h1><%= t "adminful.home.title" %></h1>

  <div id="resources-links"></div>
  <div id="layout"></div>
</div>

<script>
//<![CDATA[
  $(function() {
    var g = window; // Make global definitions

    Adminful.LocaleStrings = <%= raw t("adminful.client").to_json %>;
    <%
      generated = []
      @available_resources.each do |resource|
        definition = resource_definition(resource)

        # Backbone model
        model_name = definition[:model][:name]
        concat "    g['#{escape_javascript model_name}'] = Backbone.Model.extend({\n"
        concat "      urlRoot: '#{escape_javascript definition[:index_path]}',\n"
        concat "      modelName: '#{escape_javascript model_name}'\n"
        concat "    });\n"

        # Backbone collection
        collection_name = definition[:collection_name]
        js_collection = "g['#{escape_javascript collection_name}']"
        concat "    #{js_collection}  = Backbone.Collection.extend({\n"
        concat "      model: g['#{escape_javascript model_name}'],\n"
        concat "      url: '#{escape_javascript definition[:index_path]}',\n"
        concat "      resource: {\n"
        concat "        className: '#{escape_javascript definition[:collection_name]}',\n"
        concat "        label: '#{escape_javascript definition[:label]}',\n"
        concat "        name: '#{escape_javascript definition[:name]}',\n"
        concat "        fields: #{definition[:model][:fields].to_json}\n".html_safe
        concat "      }\n"
        concat "    });\n"

        generated << [definition[:name], collection_name]
      end
    %>

    adminfulGenerateCustomClasses();
    Adminful.App = new Adminful({<%=
      generated.map {|name, collection| "#{name.to_json}: #{collection}" }.join(", ").html_safe
    %>});
  });
//]]>
</script>
